.navbar {
    background-color: #333;
    color: white;
    padding: 1rem;
  
    button {
      background-color: #444;
      color: white;
      border: none;
      padding: 0.5rem 1rem;
      cursor: pointer;
  
      &:hover {
        background-color: #555;
      }
    }
  
    ul {
      list-style: none;
      padding: 0;
  
      li {
        display: inline;
        margin-right: 1rem;
  
        a {
          color: white;
          text-decoration: none;
  
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
}